// ================================================================================================
// - Virgo Library
// - Component > Navbar
// ================================================================================================

// [ Mixins ] =====================================================================================

@mixin navbar-brand() {
	height: 100%;
	padding: 0 calc(var(--spacing) * 2);
	font-weight: 700;
	font-size: 1.2em;
	
	> a {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: var(--navbar-brand-text);
		text-decoration: none;

		> img {
			margin-right: var(--spacing);
		}
	}
}

@mixin navbar-menu-item() {
	margin-right: calc(var(--spacing) * 0.5);
	height: 100%;

	> a {
		height: var(--navbar-menu-item-height, var(--button-height));
		padding: var(--navbar-menu-item-padding, 0 var(--spacing));
		text-decoration: none;
		color: var(--navbar-menu-item-text);
		background-color: var(--navbar-menu-item-bg);
		transition: var(--transition);
	}

	&:hover {
		> a {
			color: var(--navbar-menu-item-text-hover);
			background-color: var(--navbar-menu-item-bg-hover);
			box-shadow: inset 0 -4px 0 var(--navbar-menu-item-indicator-hover, transparent);
			transition-duration: 0s;
		}
	}

	> a:active {
		color: var(--navbar-menu-item-text-pressed);
		background-color: var(--navbar-menu-item-bg-pressed);
		box-shadow: inset 0 -4px 0 var(--navbar-menu-item-indicator-pressed, transparent);
		opacity: 0.75;
		transition-duration: 0s;
	}

	&.active {
		> a {
			color: var(--navbar-menu-item-text-active);
			background-color: var(--navbar-menu-item-bg-active);
			box-shadow: inset 0 -4px 0 var(--navbar-menu-item-indicator-active, transparent);
			font-weight: 500;
		}
	}
}

@mixin navbar-menu() {
	height: 100%;
	margin: 0;
	padding: 0 calc(var(--spacing) * 2);
	list-style: none;
	display: flex;

	> li {
		@include navbar-menu-item();
	}
}

@mixin navbar-fixed() {
	position: fixed;
	z-index: 8000;
}

@mixin navbar-fixed-top() {
	@include navbar-fixed();
	top: 0;
	left: 0;
}

@mixin navbar-fixed-bottom() {
	@include navbar-fixed();
	bottom: 0;
	left: 0;
}

@mixin navbar() {
	width: 100%;
	height: var(--navbar-height, 8rem);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	background-color: var(--navbar-bg, transparent);

	.menu {
		@include navbar-menu();
	}

	.brand {
		@include navbar-brand();
	}

	&.fixed-top {
		@include navbar-fixed-top();
	}

	&.fixed-bottom {
		@include navbar-fixed-bottom();
	}

	&.lift {
		box-shadow: 0 0 2.4rem rgba(0,0,0,.07);
	}
}

// [ Default Implementation ] =====================================================================

.navbar {

	// Navbar variables
	--navbar-bg: var(--color-bg);
	--navbar-brand-text: var(--color-text);

	// Navbar menu variables
	--navbar-menu-padding: 0;

	// Navbar menu item variables
	--navbar-menu-item-height: 100%;
	--navbar-menu-item-margin: 0 0.5rem;
	--navbar-menu-item-padding: 0 calc(var(--spacing) * 1.5);
	--navbar-menu-item-bg: transparent;
	--navbar-menu-item-bg-hover: transparent;
	--navbar-menu-item-bg-pressed: transparent;
	--navbar-menu-item-bg-active: transparent;
	--navbar-menu-item-text: var(--color-text);
	--navbar-menu-item-text-hover: var(--navbar-menu-item-text);
	--navbar-menu-item-text-pressed: var(--navbar-menu-item-text);
	--navbar-menu-item-text-active: var(--navbar-menu-item-text);
	--navbar-menu-item-indicator-hover: var(--color-shade-lighter);
	--navbar-menu-item-indicator-pressed: var(--color-shade-lighter);
	--navbar-menu-item-indicator-active: var(--color-accent);

	@include navbar();
}

.has-navbar-fixed-top {
	padding-top: var(--navbar-height);
}

.has-navbar-fixed-bottom {
	padding-bottom: var(--navbar-height);
}