<div class="page page-month">
	<button data-month="0">January</button>
	<button data-month="1">February</button>
	<button data-month="2">March</button>
	<button data-month="3">April</button>
	<button data-month="4">May</button>
	<button data-month="5">June</button>
	<button data-month="6">July</button>
	<button data-month="7">August</button>
	<button data-month="8">September</button>
	<button data-month="9">October</button>
	<button data-month="10">November</button>
	<button data-month="11">December</button>
	
	{% if (test) %}
	<button>Test</button>
	{% endif %}
</div>